# OS X files
.DS_Store

# Windows files
Thumbs.db

# Java bin files
*.class

# Executable files
*.exe

# Python bytecode
*.pyc

# Node modules
node_modules/
bower_components/
db/tasks/3
db/tasks/4
db/tasks/5
db/tasks/6
dist/app.js
dist/img/a_team_20.jpg
dist/img/ma.png
dist/img/murdock.png
dist/img/peck.png
dist/img/smith.png
dist/img/spritesheet.png
dist/img/the_a-team_van_vehicle_hd-wallpaper-626978.jpg
